fastapi
uvicorn[standard]
python-multipart
scikit-learn
opencv-python
tensorflow
numpy
pandas

openpyxl

dash

streamlit

starlette

streamlit
altair
plotly

tensorflow
pandas
numpy
scikit-learn
pillow
matplotlib
opencv-python
